/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 2, 2025, 2:02:27 PM
    Author     : nur
*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;/*ชื่อ font ที่ import มา*/
}

a{
    text-decoration: none;
    color: #000000;
}
#backHome{
    text-decoration: none;
    color: #000000;
    background: lightblue;
    border-radius: 15px;
    padding: 8px 15px;
}
#backHome:hover{
    background: lightskyblue;
}


li{
    list-style: none;
}

.box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.button{
    margin-top: 8px;
}
.button:hover {
    opacity: 0.8;
}

#count-btn{
    color: #fff;
    background: #000000;
    border: none;
    
}
/*มีแค่เส้น*/
.frame{
    margin: 20px 0;
    padding: 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(111, 111, 111, 0.497);
}

/*มี bg ด้วย*/
.frame-bg {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
 .frame-bg:hover {
            transform: translateY(-8px);
            box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
        }

/*--------------------*/

/*---------nav-----------*/
.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 25px;
    height: 25px;
    background-color: rgb(80, 157, 251);
    border-radius: 15px;
    padding: 4px 4px;
    margin-right: 4px;
}
.nav-logo img:hover {
    cursor: pointer;
    background-color: rgb(176, 212, 255);
}
.custom-navbar {
  background-color: #000000 !important;
}
.custom-dropdown{
    color: #fff !important;
}
.custom-dropdown:hover{
    background-color: #595959 !important;
}
.dropdown-divider {
  border-top: 1px solid #595959 !important;
}
/*--------------------*/

/*-------สินค้าใหม่-------------*/
.carousel-item img{
    max-height: 450px;
    width: auto;
    height: auto;;
    object-fit: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}
.carousel-caption{
    justify-content: center;
    height: 100%;
    top: 100px;
}
.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 18px;
}
/*--------------------*/

/*-----สินค้าแนะนำ------*/
.box-recoment{
    margin-top: 4%;
    display: flex;
}
.box-text{
    margin-right: 30px;
}

.modal-box{
 display: flex;
}
.modal-text{
    margin-left: 10%;
    width: 40%;
}
.modal-box .modal-img img{
    width: 350.4px;
    height: 250px;
}

.button#count-btn {
  display: flex;
  justify-content: space-between; /* ดัน - ไปซ้าย + ไปขวา */

}

/*--------------------*/

/*--------สินค้าทั้งหมด----------*/

.box-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}


.box-card{
    display: flex;
    column-gap: 20px;
    margin-bottom: 50px;
    justify-content: center;
}
.card-text{
    display: flex;
    justify-content: space-between;
}
span.type{
    color: lightslategrey;
}
.star i{
    color: burlywood;
}

.button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100%;              /* ปุ่มกว้างเต็ม */
    
    display: flex;            /* ใช้ flex ภายในปุ่ม */
    justify-content: center;  /* จัดข้อความ+icon กลางแนวนอน */
    align-items: center;      /* จัดกลางแนวตั้ง */
    gap: 8px;                 /* ระยะห่างระหว่างข้อความกับ icon */
    text-decoration: none;    /* ตัดขีดเส้นใต้ของ <a> */
}

.card-img-top{
    width: 318.4px !important;
    height: 211px !important;
}
/*--------------------*/

/*--------------------*/
.box-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-page i{
    font-size: 32px;
}

/*--------------------*/

/*--------------------*/
.footerBootom{
    padding: 10px;
    text-align: center;
    color: #fff;
}
.footerBootom a{
    opacity: 0.7;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px 5px;
    transition: tranform .5s ease;
}
.footerBootom a:hover{
    color: rgb(80, 157, 251);
}

footer{
    position: relative;
    width: 100%;
    background: rgb(62, 62, 62);
    min-height: 100px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
}
/*--------------------*/


/*------type pen-------*/
.box-item{
    display: flex;
}
.box-item-img img{
    width: 550.4px;
    height: 350px;
}
.box-item-text{
    width: 100%;
    margin-left: 40px;
}
.box-count-button-typy{
    margin-top: 80px;
}
.box-item-text .star{
    font-size: 36px;
}
.box-item-text .type{
    font-size: 18px;
}
.box-count-button-typy a span{
    font-size: 18px;
}

.box-card-2{
    display: flex;
    margin-left: 80px;
    column-gap: 20px;
}
/*--------------------*/

/*--------------------*/
.card-text-sale h4{
   color: red;
}
/*--------------------*/


/*--------------------*/
.header-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
/*--------------------*/


